<div class="gr">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
            <h4 style="color: #FFF;"><strong>DONT WAN'T TO SIGN UP RIGHT AWAY?</strong></h4>
            <p style="margin-bottom: 0px;">NO WORRIES, CHECK OUT OUR DEMO</p>
        </div>
        </div><!-- row -->
    </div><!-- container -->
</div><!--  bluewrap -->

<div class="container w" style="margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-12">
            <h1>Check Out PicoStats Demo</h1><br>
            <p>PicoStats demo is in fact displaying data from PicoStats' website and application.</p>
            <p>To access demo, please use these credentials:<br>
            email: <strong>demo@picostats.com</strong><br>
            password: <strong>demo</strong></p>
            <p>Let us know what you think!</p>
        </div>
    </div>
</div>