<div class="gr">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
            <h4 style="color: #FFF;"><strong>YOU CAN DOWNLOAD PICOSTATS FOR FREE</strong></h4>
            <p style="margin-bottom: 0px;">AND INSTALL IT ON YOUR OWN SERVER</p>
        </div>
        </div><!-- row -->
    </div><!-- container -->
</div><!--  bluewrap -->

<div class="container w" style="margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-12">
            <h1>Download PicoStats</h1><br>
            <p>Use links bellow to download PicoStats binary for installing it on your own server. For now, only 
            Linux is supported, but we will compile binaries for other platforms soon. The other way to install it
            is by using Docker. Read about both ways on our <a href="/docs"><strong>docs link</strong></a>.</p>
            <p>If you need a managed solution, please contact us using our email (in footer).</p>
            <h3>Download Links</h3>
            <p><strong>v 1.0.0 beta (Linux) - <a href="https://github.com/picostats/picostats/releases/download/v1.0.0beta/picostats-v1.0.0-beta.tar.gz">DOWNLOAD</a></strong></p>
        </div>
    </div>
</div>