        <div id="headerwrap">
                <div class="container">
                        <div class="row centered">
                                <div class="col-lg-8 col-lg-offset-2">
                                <h1>Need <b>simple</b> stats?</h1>
                                <h2>Your Free Web Analytics</h2><br>
                                <a href="{{ .Conf.AppUrl }}/sign-up" class="btn btn-danger btn-lg" style="margin-bottom: 120px;">Sign Up Now</a>
                        </div>
                        </div><!-- row -->
                </div><!-- container -->
        </div><!-- headerwrap -->


        <div class="container w">
                <div class="row centered">
                        <br><br>
                        <div class="col-lg-4">
                                <i class="fa fa-pie-chart"></i>
                                <h4>ANALYTICS SAAS</h4>
                                <p>You just need to sign up, verify your email address and you're ready to start tracking your website. Even though PicoStats is an Open Source project, it's also a managed SaaS analytics tool free of charge.</p>
                        </div><!-- col-lg-4 -->

                        <div class="col-lg-4">
                                <i class="fa fa-server"></i>
                                <h4>HOST YOUR OWN</h4>
                                <p>If you need to protect your data and keep it private, feel free to download PicoStats and install it on your own server or servers. It's an Open Source project and everybody is allowed to do so, also for free.</p>
                        </div><!-- col-lg-4 -->

                        <div class="col-lg-4">
                                <i class="fa fa-life-ring"></i>
                                <h4>MANAGED SOLUTION</h4>
                                <p>If you need a robust enterprise solution for your company and you would like to keep your data private, but don't want to install PicoStats and manage it, please contact us for a managed solution.</p>
                        </div><!-- col-lg-4 -->
                </div><!-- row -->
                <br>
                <br>
        </div><!-- container -->        