        <div id="headerwrap">
                <div class="container">
                        <div class="row centered">
                                <div class="col-lg-8 col-lg-offset-2">
                                <h1>Web stats should be <b>simple</b> to use</h1>
                                <h2>Your Free Web Analytics</h2><br>
                                <a href="{{ .Conf.AppUrl }}/sign-up" class="btn btn-danger btn-lg">Sign Up Now</a>
                        </div>
                        </div><!-- row -->
                </div><!-- container -->
        </div><!-- headerwrap -->


        <div class="container w">
                <div class="row centered">
                        <br><br>
                        <div class="col-lg-4">
                                <i class="fa fa-pie-chart"></i>
                                <h4>ANALYTICS SAAS</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
                        </div><!-- col-lg-4 -->

                        <div class="col-lg-4">
                                <i class="fa fa-server"></i>
                                <h4>HOST YOUR OWN</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
                        </div><!-- col-lg-4 -->

                        <div class="col-lg-4">
                                <i class="fa fa-life-ring"></i>
                                <h4>MANAGED SOLUTION</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
                        </div><!-- col-lg-4 -->
                </div><!-- row -->
                <br>
                <br>
        </div><!-- container -->        

        <div id="r">
            <div class="container">
                <div class="row centered">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h4>WE ARE STORYTELLERS. BRANDS ARE OUR SUBJECTS. DESIGN IS OUR VOICE.</h4>
                        <p style="margin-bottom: 0;">We believe ideas come from everyone, everywhere. At BlackTie, everyone within our agency walls is a designer in their own right. And there are a few principles we believe—and we believe everyone should believe—about our design craft. These truths drive us, motivate us, and ultimately help us redefine the power of design.</p>
                    </div>
                </div><!-- row -->
            </div><!-- container -->
        </div><!-- wrap -->