<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{ .Conf.WebUrl }}/public/assets/img/favicon.ico">

        <title>{{ .Title }} | Free and Open Source Web Analytics Software | PicoStats</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ .Conf.WebUrl }}/public/assets/css/bootstrap.css" rel="stylesheet">
        <link href="{{ .Conf.WebUrl }}/public/assets/css/font-awesome.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ .Conf.WebUrl }}/public/assets/css/main.css" rel="stylesheet">


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a style="margin-top: 3px; display: block; margin-left: 15px;" href="/" class="skip-active"><img src="{{ .Conf.WebUrl }}/public/assets/img/logo.png"></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right" style="margin-top: 3px;">
                        <li><a href="/">HOME</a></li>
                        <li><a href="/demo">DEMO</a></li>
                        <li><a href="/downloads">DOWNLOADS</a></li>
                        <li><a href="{{ .Conf.AppUrl }}/sign-in">SIGN IN</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        {{ yield }}

        <!-- FOOTER -->
        <div id="f">
                <div class="container">
                        <div class="row centered">
                            <script type="text/javascript">
                            document.write("<a href=\"mail" + "to:" + new Array("info","picostats.com").join("@") + "\">" + "<i class=\"fa fa-envelope-o\"></i>" + "</" + "a>");
                            </script>
                            <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a><a href="https://github.com/picostats/picostats" target="_blank"><i class="fa fa-github"></i></a>
                        </div><!-- row -->
                </div><!-- container -->
        </div><!-- Footer -->


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="{{ .Conf.WebUrl }}/public/assets/js/bootstrap.min.js"></script>
        <script src="{{ .Conf.WebUrl }}/public/assets/js/custom.js"></script>

    </body>
</html>
